/* SideBar */

#sidebar {
  position: fixed;
  float: left;

  width: 268px;
  height: 100%;

  background-color: #d9d9d9;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  font-size: 13px;
}

/* Keep the active sidebar li highlighted to show which main-content page
we are on */

/* #sidebar .active-li {
  background-color: rgb(202, 202, 202);
} */

/* Feeds UL Header */

#sidebar #feeds-ul #feeds-header small {
  float: right;
}

#sidebar #feeds-ul #feeds-header {
  margin-left: 10px;
  margin-right: 15px;

  height: 25px;
  line-height: 25px;

  font-size: 12px;
  color: gray;
}

#sidebar #feeds-ul #feeds-header .img-box:hover {
  cursor: pointer;
}

/* SideBar Ul Style */

#sidebar ul {
  padding: 0px;
  width: 100%;
}

#sidebar li {
  height: 25px;
  line-height: 25px;

  font-weight: 550;
}

#sidebar li:hover {
  background-color: rgb(202, 202, 202);
  cursor: pointer;
}

#sidebar li header {
  display: flex;
  flex-direction: row;

  margin-left: 15px;
  margin-right: 15px;
}

#sidebar #feeds-ul li header .title {
  height: 25px;
  width: 205px;
}

/* Arrow Img */

#sidebar .img-box {
  height: 25px;
  width: 25px;
  padding-right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#sidebar ul .img-box:hover {
  filter: brightness(65%);
}

/* It is important that the horizontal images width is the same as the
vertical images height for the arrrow to rotate smoothly */

#sidebar img[alt="down_arrow"] {
  width: 60%;
}

#sidebar img[alt="right_arrow"] {
  height: 60%;
}

#sidebar img[alt="today_icon"] {
  width: 60%;
}

#sidebar img[alt="bookmark_icon"] {
  width: 50%
}

#sidebar img[alt="hamburger_menu"] {
  width: 50%
}

#sidebar img[alt="settings_icon"] {
  width: 60%
}

#sidebar img[alt="plus_icon"] {
  width: 75%
}

/* Feed Source Lis (i.e. the SubList under each feed) */

#sidebar .feed-source-li header {
  margin-left: 50px;
  margin-right: 15px;

  font-weight: 400;
  color: black;
}

/* Create new feed link */

#sidebar #feeds-ul #add-feed {
  padding-left: 33px;
  font-weight: 400;
}

/* New Feed Form */

#new-feed-form {
  padding-top: 50px;
  padding-left: 150px;
}

#new-feed-form header {
  padding-bottom: 60px;
}

#new-feed-form input[type="text"] {
  width: 600px;
  height: 30px;
  padding-left: 10px;

  border: 1px solid lightgray;
  border-radius: 5px;

  font-size: 14px;
  color: black;
}

#new-feed-form input[type="text"]:focus {
  outline: none;
  border: 1px solid rgb(0, 182, 57);
}

#new-feed-form #errors-list {
  min-height: 15px;
  font-size: 15px;
}

/* form submit buttons */

#new-feed-form input[type="submit"] {
  width: 50px;
  height: 30px;

  background-color: rgb(0, 182, 57);
  color: white;

  border-radius: 5px;

  margin-right: 10px;
}

#new-feed-form button {
  width: 70px;
  height: 30px;

  background-color: white;
  color: gray;
  font-weight: 600;

  border-radius: 5px;
}

#new-feed-form input[type="submit"], button:hover {
  cursor: pointer;
}

#new-feed-form input[type="submit"]:hover {
  background-color: green;
}

#new-feed-form button:hover {
  color: darkgray;
}

/* New Content Button */

#new-content-button {
  position: absolute;
  bottom: 0;

  height: 50px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-top: 1px solid lightgray;
}

#new-content-button:hover {
  background-color: rgb(202, 202, 202);
  cursor: pointer;
}

#new-content-button span {
  font-weight: 500;
  font-size: 15px;
}

#new-content-button .img-box {
  height: 25px;
  width: 25px;
}
