#article-popup {
  padding-top: 100px;
  padding-bottom: 100px;
  height: 100%;

  display: flex;
  flex-direction: column;

  overflow-x: hidden;
  overflow-y: hidden;

  background-color: white;
}

#article-popup > * {
  width: 647px;
  margin: 0 auto;
}

/* Next/Previous Arrow and Read Later/Delete Button */

#article-popup .next_prev_button {
  height: 50px;
  width: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  background-color: white;
}

#article-popup .next_prev_button:hover {
  background-color: #d9d9d9;
}

#article-popup .next_prev_button:hover img {
  filter: brightness(25%);
}

#article-popup img[alt="right_arrow"] {
  width: 50%;
}

#article-popup img[alt="left_arrow"] {
  width: 50%;
}

#article-popup #save-button {
  border: none;
  height: 20px;

  color: #757575;
  font-size: 16px;
  font-weight: 325;
}

#article-popup #save-button:hover {
  color: black;
  font-weight: 400;
}

#article-popup #save-button:disabled {
  color: lightgray;
}

#article-popup #save-button:disabled:hover {
  cursor: default;
  font-weight: 325;
}

/* Article Header/Thumbnaio */

#article-popup header {
  padding-bottom: 60px;
}

#article-popup header .title {
  font-size: 20px;
  font-weight: 600;
}

#article-popup .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

#article-popup img[alt="article_thumbnail"] {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

#article-popup .description {
  color: black;

  margin-top: 60px;
  margin-bottom: 60px;
}

#article-popup #link-button {
  height: 40px;

  border: 1px solid lightgray;
  border-radius: 5px;
  color: gray;

  font-weight: 500px;
}

#article-popup #link-button:hover {
  background-color: lightgray;
}
