#article-popup {
  padding-top: 50px;
  padding-left: 150px;

  display: flex;
  flex-direction: column;

  height: 100%;

  background-color: white;
}

#article-popup > * {
  width: 647px;
}

#article-popup header {
  padding-bottom: 60px;
}

#article-popup .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

#article-popup img[alt="article_thumbnail"] {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
